---
import Layout from '../layouts/Layout.astro';
import sendGrid from '@sendgrid/mail';
sendGrid.setApiKey( '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' );

if (Astro.request.method === 'POST') {
  try{
    // Getting posted data from our contact form
    const data = await Astro.request.formData();
    const name = data.get('name');
    const email = data.get('email');
    const company = data.get('company');
    const phone = data.get('phone');
    const message = data.get('message');

    // TODO: Do not forget to do validation and error handling over received data from your contact form.

    // Sending email
    const msg = {
      to: 'info@booh.dev', // Change to your recipient
      from: 'noreply@booh.dev', // Change to your verified sender
      replyTo: {email:email, name:name},
      subject: `Contact form submission from ${name}`,
      company: company,
      phone: phone,
      text: message,
    }
    await sendGrid.send(msg).then(() => {
      console.log('Email sent')
    }).catch((error) => {
      console.error(error)
    });

  } catch (error) {
    console.error(error);
  }
}
---

<Layout title="BOOH! | Enterprise software development">
  <body>
    <div class="container max-w-full" style="background-color: #6061F4 !important;">
      <div class="h-screen flex flex-col items-center justify-center">
				<div><img src="/assets/img/booh-new-logo.svg" alt="Descripción de la imagen" class="w-52 h-auto mb-1"></div>
				<div><h1 class="text-lg text-white mt-3 font-mono font-bold mb-0" >Contact Us</h1></div>
        <div class="text-white text-sm font-mono text-center mb-5" >
          <p>Do you have a question? Do you have feedback?<br>
            We look forward to receiving a call or email from you.</p>
        </div>
    <form method="POST" class="">
      <div class="grid grid-cols-2 gap-4">
      <div>
        <input class="border bg-white font-mono border-4 border-black text-black w-full py-2 px-3 focus:outline-none" style="border-width: 4px !important;" type="text" name="name" placeholder="Full Name" />
      </div>
      <div>
        <input class="border bg-white font-mono border-4 border-black text-black w-full py-2 px-3 focus:outline-none" style="border-width: 4px !important;" type="email" name="email" placeholder="E-mail address" />
      </div>
      <div>
        <input class="border bg-white font-mono border-4 border-black text-black w-full py-2 px-3 focus:outline-none" style="border-width: 4px !important;" type="text" name="company" placeholder="Company Name" />
      </div>
      <div>
        <input class="border bg-white font-mono border-4 border-black text-black w-full py-2 px-3 focus:outline-none" style="border-width: 4px !important;" type="text" name="phone" placeholder="Phone Number" />
      </div>
    </div>
    <div class="grid grid-cols-1 gap-4 mt-4">
    
    <div>
        <textarea class="border bg-white font-mono border-4 border-black text-black w-full py-2 px-3 focus:outline-none" style="border-width: 4px !important;"  name="message" placeholder="Message"></textarea>
      </div>
    </div> 
    <div class="mt-2 grid grid-cols-2 gap-4">
      <div class="grid justify-items-start">
      <a href="/" class="font-mono border-black text-white hover:text-black py-2 px-4 text-sm">Go back</a>
    </div>
    <div class="grid justify-items-end">
      <button class="bg-black hover:bg-white font-mono border-4 border-black text-white hover:text-black py-2 px-4"  type="submit">
        Submit
      </button>
    </div>
    </div>
    </form>
    
    </div>

    
    </div>
  </body>
</Layout>