---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="unknwn.">
	<body class=" relativa bg-gradient-to-r from-cyan-500 to-blue-500 overflow-y-hidden">
		<div class="relative flex items-center z-negative
			justify-center h-screen overflow-hidden">
			<video src="~/assets/video/gradient.mp4" autoplay="{true}" loop muted class="absolute z-10 w-auto min-w-full min-h-full max-w-none">
			</video>
		</div>
			<div class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 w-72">
				<img src="~/assets/img/logo.png" alt="Descripción de la imagen" class="w-auto h-auto">
			  </div>
		
	  </body>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: white;
		padding: 1rem;
		border-radius: 0.4rem;
	}
	.instructions code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.instructions strong {
		color: rgb(var(--accent));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}

	.z-negative {
  z-index: -1;
}
</style>
