---
import Layout from '../layouts/Layout.astro';
---
<Layout title="boo! | Enterprise software development">
	<body>
		<div class="container max-w-full" style="background-color: #aa99ec !important;">
			  <div class="h-screen flex flex-col items-center justify-center">
				<div><img src="/assets/img/logo.png" alt="Descripción de la imagen" class="w-64 h-auto"></div>
				<div><h1 class="text-sm text-white mt-5 font-mono" >Enterprise software development</h1></div>
			</div> 
		
		 </div>
	  </body>
</Layout>